*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 800px) {
  .Log_in{
    display: none;
  }
  
}
@media screen and (max-width: 1000px) {
  #Show_more{
    display: none;
  }
  
}